.MenuPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row.MenuRow {
  display: flex;
  justify-content: center;
}

.MenuRow {
  &__MenuSidebar {
    border: 1px solid white;
  }
}
