.carousel.IntroductionCarousel {
  width: 70%;
  height: 50%;
}

img {
  display: block;
  width: 100%;
  max-height: 70vh;
}
@media (max-width: 876px) {
  .carousel.IntroductionCarousel {
    width: 80%;
    height: 90%;
  }
  .carousel-item {
    height: 70vh !important;
    display: flex;
    align-items: center;
  }

  img {
    height: 100%;
  }
}
